
<!DOCTYPE html>
<html>
<head>
  <title>MovieAPI</title>
  <style type="text/css">
       
       .main{
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
       }
       .main h1{
       font-size:30px;
           font-family: comfortaa;
           font-weight: normal;
           letter-spacing:5px;
       }
         
      

  </style>
</head>
<body >
  

  <div class="main">

        <h1>SEARCH FOR A MOVIE</h1>

        <form action="/results" method="GET" style="font-size:30px;">
                 
             <input class="A" type="text" name="movie" placeholder="movie ...">
             <input type="submit" name="" value="search">

        </form>

   </div>


</body>

</html>

